.footer {
  font-size: 12px;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  text-shadow: 0 1px #fff;
  margin: 80px auto 30px auto;
  width: 100%;
  text-align: center;
  color: #666;

  .footer-copy {
    margin-bottom: 25px;
  }

  a {
    background: transparent;
    text-decoration: none;
    color: #a0cfe4;
  }

  .site-nav {
    list-style: none;
    margin-bottom: 30px;
    .nav-link {
      display: inline-block;
      &:after{
        content: '|';
      }
      &:last-child:after{
        content: '';
      }
    }
  }
}
