// content
.content {
  width: 100%;
  margin-top: 90px;

  .content-inner {
    margin: 0 auto;
    max-width: 800px;

    .recent-posts {
      .recent-post-item {
        margin: 0 auto;
        position: relative;

        .new-article-tag {
          position: absolute;
          left: -45px;
          top: 14px;
          color: #fb929e;
          font-size: 22px;
        }

        h1 {
          position: relative;
          overflow: hidden;
          font-size: 18px;

          .article-link {
            display: inline-block;
            vertical-align: baseline;
            zoom: 1;
            position: relative;
            padding: 0 10px 0 0;

            .title-href {
              max-width: 350px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              display: inline-block;
            }

            &:after {
              content: '';
              display: block;
              width: 800px;
              position: absolute;
              top: 22px;
              border-top: 1px solid #eee;
              left: 100%;
            }
          }

          .post-time {
            top: 0;
            right: 0;
            color: #777;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: absolute;
            background-color: #fff;
            padding-left: 10px;
            max-width: 50%;
            font-weight: 400;
            line-height: 43px;
          }

          .articles-tag {
            font-weight: normal;
            font-size: 24px;
            color: #999;
            background: #eee;
            padding: 13px;
            border-radius: 50%;
            vertical-align: top;

            &:hover {
              opacity: .8;
            }
          }
        }
      }
    }

    .article-detail {
      margin-top: 160px;

      .article-header {
        margin-top: 45px;
        //border-left: 5px solid #4d4d4d;
        padding: 10px 0 10px 0px;
        margin-bottom: 45px;
        border-bottom: 1px solid #dcdcdc;

        .article-title {
          color: #696969;
          font-weight: 300;
          line-height: 35px;
          margin: 0px;
          font-size: 26px;
          transition: color .3s;
        }
      }

      .article-entry {
        line-height: 28px;
        //border: 1px solid #dcdcdc;
        padding: 35px;

        a {
          color: #142c5d;
        }

        ul, ol {
          list-style: none;
          font-size: 14px;
          margin: 10px 0px;

          li:before {
            content: "";
            width: 6px;
            height: 6px;
            border: 1px solid #999;
            border-radius: 10px;
            background: #aaa;
            display: inline-block;
            margin-right: 10px;
            float: left;
            margin-top: 10px;
          }
        }

        img {
          max-width: 100%;
        }

        p {
          margin-top: 10px;
        }

        h1, h2, h3, h4, h5, h6 {
          margin-top: 20px;
          font-weight: bold;
          color: #574C4C;
          padding-bottom: 5px;
          border-bottom: 1px solid #ddd;
        }
      }

      #article-nav {
        padding: 20px 32px 10px;
        min-height: 30px;
        border-top: 1px solid #dcdcdc;

        #article-nav-older {
          float: right;
        }

        .article-nav-link-wrap {
          font-size: 14px;
          color: #142c5d;

          .article-nav-title {
            display: inline-block;
            font-size: 16px;
            -webkit-transition: color 0.3s;
            -o-transition: color 0.3s;
            transition: color 0.3s;
          }
        }
      }
    }

    .archive-detail {
      .archive-title {
        color: #696969;
        font-weight: 300;
        line-height: 35px;
        margin: 0px;
        font-size: 26px;
        transition: color .3s;
      }
      .archive-header {
        margin-top: 45px;
        padding: 10px 0 10px 0px;
        margin-bottom: 45px;
        border-bottom: 1px solid #dcdcdc;
      }
      h1,h2,h3,h4,h5,h6 {
        margin-top: 20px;
        font-weight: normal;
        color: #574C4C;
        padding-bottom: 5px;
      }

      .category-list .tag-list .archive-list {
        line-height: 28px;
        list-style: none;
        font-size: 14px;
        border: 1px solid #dcdcdc;
        padding: 5px 25px;
        border-radius: 5px;
        margin: 5px 15px;
        &:hover{
          border-color: #142c5d;
        }
      }
      .tag-list-item, .archive-list-item{
        display: inline-block;
        margin: 0 15px;
        &:before{
          display: none;
        }
      }


      ul, ol {
        list-style: none;
        font-size: 14px;
        margin: 10px 0px;
        line-height: 28px;
        padding: 35px;

        li:before {
          content: "";
          width: 6px;
          height: 6px;
          border: 1px solid #999;
          border-radius: 10px;
          background: #aaa;
          display: inline-block;
          margin-right: 10px;
          float: left;
          margin-top: 10px;
        }
      }
    }

  }
}

@media (max-width: 860px) {
  .content .content-inner {
    max-width: 80%;

    .recent-posts .recent-post-item {
      .new-article-tag {
        display: none;
      }

      h1 {
        font-size: 14px;

        .articles-tag {
          padding: 5px;
        }

        .post-time {
          font-size: 8px;
        }

        .article-link .title-href {
          max-width: 180px;
        }
      }
    }
  }
}
