@import "./fonts";
@import "./scrollbar";

@font-face {
  font-family: 'iconfont';  /* project id 1368507 */
  src: url('//at.alicdn.com/t/font_1368507_2kn1g35n0so.eot');
  src: url('//at.alicdn.com/t/font_1368507_2kn1g35n0so.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1368507_2kn1g35n0so.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1368507_2kn1g35n0so.woff') format('woff'),
  url('//at.alicdn.com/t/font_1368507_2kn1g35n0so.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1368507_2kn1g35n0so.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;

  &::selection {
    background: #5c6b72;
    color: #e6e6e6
  }
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

body {
  font-family: din, 'Hiragino Sans GB', 'Microsoft Yahei', Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: url(../cursor/normal.cur), auto;;
}

a {
  color: #333;
  font-weight: 300;
  background-color: transparent;
  text-decoration: none;
  cursor: url(../cursor/ayuda.cur), auto;
}

a:active {
  cursor: url(../cursor/work.cur), alias
}

p, span {
  cursor: url(../cursor/texto.cur), auto
}

h1 {
  font-size: 32px;
  margin: 20px 0;
  line-height: 50px;
}

.hide{
  display: none;
}

@import "./header";
@import "./search";
@import "./video";
@import "./go-top";
@import "./content";
@import "./page";
@import "./footer";
@import "./image-view";
@import "./highlight";
